<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExportPipelineDefinitions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ExportPipelineDefinitions.Properties.Settings>
            <setting name="outputPath" serializeAs="String">
                <value>C:\temp\PipelineDefinitions\</value>
            </setting>
            <setting name="personalAccessToken" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="organization" serializeAs="String">
                <value>
                </value>
            </setting>
        </ExportPipelineDefinitions.Properties.Settings>
    </applicationSettings>
</configuration>